@import 'mediaQueries';

$light-gray: rgb(109, 106, 117);
$dark-gray: rgb(55, 50, 62);
$bluish-gray: rgb(69, 90, 100);
$yellow: rgb(255, 193, 7);
$green: rgb(41, 146, 37);
$red: rgb(233, 52, 52);
$font: 'Roboto', sans-serif;

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
  
@mixin inputsRadius {
  border: none;
  border-radius: 50px;
  height: 2.5rem;
  margin: 0.5rem;
}
  
@mixin shadows {
  box-shadow: 6px 7px 0px $bluish-gray;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: $font;
  background: $light-gray;
}

.app-container {
  width: 100vw;
  height: 100vh;
}

header {
  @include flexCenter(row);
  background: $dark-gray;
  color: white;
  width: 100%;
  height: 10%;
  font-size: 1rem;
  @include responsive(tab-land) {
    font-size: 1.2rem;
  }
  @include responsive(phone) {
    font-size: 0.8rem;
  }
}

main {
  @include flexCenter(column);
  height: 85%;
}

.input-area {
  width: 35%;
  height: 10%;
  margin: 0.5rem;
  @include responsive(tab-land) {
    width: 70%;
  }
  @include responsive(tab-port) {
    width: 70%;
  }
  @include responsive(phone) {
    width: 90%;
  }
  form {
    height: 100%;
    width: 100%;
    @include flexCenter(row);
  }
  input[name="new-item"] {
    @include inputsRadius();
    @include shadows();
    height: 3rem;
    margin: 0 0.5rem 0 0;
    font-weight: bold;
    text-align: center;
    width: 100%;
    letter-spacing: 0.5px;
    &:focus {
      outline: 0;
    }
  }
  input[name="quantity"] {
    @include inputsRadius();
    @include shadows();
    height: 3rem;
    width: 3rem;
    padding: 0;
    margin: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    &:focus {
      outline: 0;
    }
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
  .dropdown-menu {
    display: inline-block;
    .menu-button {
      @include inputsRadius();
      @include shadows();
      @include flexCenter(row);
      @include responsive(phone) {
        width: 5rem;
      }
      color: black;
      background: white;
      height: 3rem;
      width: 8rem;
      margin: 0 0.5rem 0 0.5rem;
      padding: 0;
      font-weight: bold;
      cursor: pointer;
      &:focus {
        outline: 0;
      }
      &:hover {
        background: $dark-gray;
        color: white;
      }
    }
    .menu-dropped {
      @include flexCenter(column);
      position: absolute;
      z-index: 1;
      .menu-option {
        @include inputsRadius();
        @include shadows();
        @include responsive(phone) {
          width: 5rem;
          font-size: 0.9rem;
          font-weight: normal;
        }
        background: $dark-gray;
        color: white;
        font-weight: bold;
        width: 8rem;
        height: 3rem;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        cursor: pointer;
        &:focus {
          outline: 0;
        }
        &:hover {
          background: $yellow;
        }
      }
    }
  }
  .add-item-button {
    @include inputsRadius();
    @include shadows();
    height: 3rem;
    min-width: 3rem;
    margin: 0 0 0 0.5rem;
    background: $yellow;
    color: white;
    cursor: pointer;
    &:hover {
      color: $yellow;
      background: white;
    }
    &:active {
      color: white;
      background: $yellow;
    }
    &:focus {
      outline: 0;
    }
  }
}

.items-list {
  @include inputsRadius();
  @include shadows();
  @include responsive(tab-land) {
    width: 70%;
  }
  @include responsive(tab-port) {
    width: 70%;
  }
  @include responsive(phone) {
    width: 90%;
  }
  height: 100%;
  margin-bottom: 1.5rem!important;
  width: 35%;
  color: black;
  background: white;
  overflow: hidden;
  .items-box {
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
  }
}
  
.item {
  @include flexCenter(row);
  justify-content: flex-start;
  margin: 2rem;
  hr {
    border: none;
    border-top: 1px solid $light-gray;
  }
  button {
    @include inputsRadius();
    color: white;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
  }
  .item-checked {
  color: $light-gray;
  text-decoration: line-through;
  }
  .item-details {
    width: 100%;
  }
  .item-buttons {
    @include flexCenter(column);
  }
  .check-button, .delete-button {
    background: $light-gray;
    &:focus {
      outline: 0;
    }
  }
  .check-button {
    &:hover {
      background: $green;
    }
  }
  .delete-button {
    &:hover {
      background: $red;
    }
  }
}

footer {
  @include flexCenter(row);
  @include responsive(tab-land) {
    font-size: 1.2rem;
  }
  @include responsive(phone) {
    font-size: 0.8rem;
  }
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  color: white;
  background: $dark-gray;
}